*.pyc
*.bak
*.orig
*.tmp
*.testing
*.png
*.svg
*~
__pycache__
*-project
*-workspace
.coverage
.cache
calvin.conf
/.tox
dist/
calvin.egg-info
./build/
build/
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.conf
