include README.md
include LICENSE
include TODO
include requirements.txt
include test-requirements.txt
recursive-include calvin *.py
recursive-include calvin *.calvin
include calvin/actorstore/systemactors/io/data.txt
include calvin/tests/data.txt
recursive-include calvin/Tools/www *.html *.js *.css *.png
include setup.cfg
include tox.ini
include calvinextras/__init__.py
recursive-include calvinextras/calvinsys *.py
graft calvinextras/CalvinGUI
graft calvinextras/pyrad_dicts
