colorlog==4.0.2
ply==3.11
Twisted==18.9.0
requests==2.21.0
requests-futures==0.9.9
wrapt==1.11.1
netifaces==0.10.9
pyOpenSSL==19.0.0
cryptography==2.6.1
passlib==1.7.1
PyJWT==1.7.1
service-identity==18.1.0
ndg-httpsclient==0.5.1
pyasn1==0.4.5
pystache==0.5.4
jsonschema==3.0.1
u-msgpack-python==2.5.1
cbor==1.0.0
PyYAML==5.1
Flask==1.0.2
