colorlog==2.6.1
rpcudp==1.0
kademlia==0.5
ply==3.8
Twisted==15.5.0
requests>=2.9.1
infi.traceback==0.3.12
wrapt==1.10.2
pyserial==3.0.1
netifaces==0.10.4
pyOpenSSL==17.1.0
cryptography>==2.3, ==2.*
passlib==1.7.0
PyJWT==1.4.0
service-identity==17.0.0
ndg-httpsclient==0.4.2
pyasn1>=0.4.2
pystache==0.5.4
jsonschema==2.6.0
u-msgpack-python==2.4.1
cbor==1.0.0
