body { font: 12px Arial;}

text {
    font-weight: 300;
    font-family: Arial;
    font-size: 12px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

#applicationData {
    float:left;
    resize: both;
    overflow: auto;
}

#applicationGraph {
    float:left;
    resize: both;
    overflow: auto;
}

.spinner {
    position: fixed;
    top: 40%;
    left: 40%;
}

/*----- Table selection -----*/
table tr.active {background: #ccc;}

#logData {
    width:100%;
    height: 50%;
    clear: both;
}

div.ui-widget-header {
    background: #7FB5DA;
}

.modal {
    position: absolute;
}
