HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 2048
default_keyfile     = serverkey.pem
distinguished_name  = server_distinguished_name
req_extensions      = server_req_extensions
string_mask         = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default     = SE

stateOrProvinceName     = State or Province Name (full name)
stateOrProvinceName_default = Skane

localityName            = Locality Name (eg, city)
localityName_default        = Lund

organizationName            = Organization Name (eg, company)
organizationName_default    = Calvin

commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = Calvin server

emailAddress            = Email Address
emailAddress_default        = server@calvin.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints        = CA:FALSE
keyUsage            = digitalSignature, keyEncipherment
subjectAltName          = @alternate_names
nsComment           = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1       = example.com
DNS.2       = www.example.com
DNS.3       = mail.example.com
DNS.4       = ftp.example.com

